@import "src/themes";

.container {
}

.title {
  margin: 10px 0;
  font-size: 2rem;
  text-align: center;
}

.canvas {
  canvas {
    display: block;
    margin: auto;
    border: 1px solid black;

    outline-color: $color1;
  }
}
