@import "src/themes";

nav {
  height: 10vh;
  position: relative;

  background-color: $color1;
}

.content {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.8rem;
  color: $color2;
}

.btn-back {
  position: absolute;
  right: 5%;
  top: 50%;
  padding: 4px 8px;

  font-size: 1rem;
  border-radius: 5px;

  transform: translateY(-50%);
  cursor: pointer;
  outline-color: darken($color1, 30);

  &:hover, &:focus {
    color: $color2;
    background-color: aliceblue;
  }
}
